configuration {
    modi:           "drun,run";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:   "";
    display-run:    "";
    terminal:       "kitty";
    font:           "JetBrainsMono Nerd Font 13";
}

@theme "~/.local/state/quickshell/rofi-theme.rasi"
